<header>
    <div>
        <a href="/">
            <h4 >English</h4>
        </a>
        <h4> | </h4>
        <h4 id="current">Français</h4>
    </div>
    <h1>Sinowell Products Limited</h1>
    <p>Basée à Hong Kong. Plus de 30 ans d'expérience.</p>
</header>

<style>
    div {
        text-align: end;
    }
    h4 {
        display: inline;
        font-size: 2rem;
    }
    #current {
        color: #3c60e0;
    }
    a, a:visited {
        text-decoration: none;
        color: #4A4A4A ;
    }

</style>