<h2>About us</h2>
<p>
  Based in Hong Kong, Sinowell Products Ltd has been offering its sourcing,
  quality control, creation, and project management services for over thirty
  years.
</p>
<p>
  Thanks to our experience, we have gained the trust of our clients and, as a
  result, developed numerous innovative projects.
</p>
<p>
  Our careful monitoring of production and strict adherence to specifications,
  facilitated by our offices in China, play a crucial role in every project.
</p>
<p>
  In the last 8 years, Sinowell has focused a lot more On Packaging of different
  types such as luxury gift boxes, classic metal boxes, and metal boxes with
  special shapes (sphere, animals, Christmas tree, car shapes...).
</p>
<p>
  Of course, all those products are sought after and sourced, created at the
  best prices while respecting quality and current standards. Our clients are chocolate artists, biscuit factories, macarons producers, soap creators.
</p>
<p>
  The OEM ODM work that we did in the past 30 years for corporate gifts and
  promotional items helped us a lot. Our process are and remains a key feature of our successes.
</p>
<p>
  Closely supervised by our own teams, our factories undergo thorough audits and
  continuous monitoring throughout the production process, ensuring meticulous
  tracking before, during, and after manufacturing.
</p>
<p>
  Feel free to send us your research or inquiries; our bilingual team in Hong
  Kong is excited to impress you.
</p>
