---
const { products } = Astro.props
import CustomImageImport from "./CustomImageImport.astro";
---
<ul class="products">
    {products.map((product) => (
        <li>
            <CustomImageImport imagePath={'/src/assets/'+product} altText={product+' photo'}/>
        </li>
    ))}
</ul>

<style>
    .products {
        justify-content: flex-start;
    }

    .products li {
        margin-right: 2rem;
        margin-bottom: 2rem;
    }
</style>