---
import BaseLayout from "../layouts/BaseLayout.astro";

const { pageTitle } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
  <nav>
    <a href="../index.html">
      <h1>SINOWELL</h1>
      <div class="link">Back</div>
    </a>
  </nav>
  <h3>
    {pageTitle}
  </h3>
  <slot/>

</BaseLayout>
